body,
html {
  overflow: hidden;
  color: white;
  user-select: none;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/img/wp4918886-lo-fi-desktop-wallpapers.jpeg");
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(89, 42, 88, 0.33) 0%,
    rgba(43, 76, 90, 0.33) 100%
  );
  background-blend-mode: darken;
}
.darker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.33);
}
.header {
  position: relative;
  width: 630px;
  display: flex;
}
.header a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header img,
.header > a > img {
  height: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 15px rgba(255, 255, 255, 0.33));
}
div.capture {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.capture {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  height: 280px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 20px;
  background: #26262b;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.5));
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 1.75rem;
  font-weight: bolder;
}
p,
small {
  width: 80%;
  max-width: 380px;
  margin: 5px auto 20px auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 1.33rem;
  font-size: 0.9rem;
  text-shadow: 2px 1px 1px #000000;
}

small {
  max-width: 380px;
  margin-bottom: 30px;
  font-size: 0.75rem;
}
input {
  position: relative;
  width: 50%;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  color: #26262b;
  z-index: 9;
}
input:focus-within {
  outline: 2px solid #000000;
  /* outline: none; */
}
input::placeholder {
  padding-left: 0px;
}
.button {
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
  font-size: 0.8rem;
  color: white;
  background: #8992e7;
  cursor: pointer;

  transition: 300ms ease-in-out all;
}
.button:hover {
  background: #3e4269;
  transition: 300ms ease-in-out all;
}
.button > span {
  position: relative;
  top: 2px;
}
label {
  display: none;
}
.d-flex {
  display: flex;
}
.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 300px;
}
.justify-center {
  justify-content: center;
}
.ig svg,
.spotify svg {
  position: relative;
  fill: white;
  margin: 5px 10px;
  cursor: pointer;
  transition: 300ms ease-in-out all;
}
.ig svg:hover,
.spotify svg:hover {
  transition: 300ms ease-in-out all;
  transform: scale(1.5);
}
#mc_embed_signup_scroll {
  display: flex;
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
}

/* Thank you page */
.thank-you {
  min-width: 450px;
  background: #26262b;
  padding: 10px 10px 30px 10px;
  border-radius: 8px;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.25));
}
.thank-you div {
  display: flex;
  justify-content: center;
}
.thank-you div > svg {
  fill: white;
  height: 70px;
  width: 70px;
  margin: 20px;
}
.thank-you p span {
  font-size: 1rem;
  font-family: "Spartan", sans-serif;
}
input[type="email"] {
  width: 100%;
}
@media screen and (max-width: 768px) {
  form.capture {
    min-width: 300px;
    max-width: 300px;
    min-height: 320px;
  }
  .header {
    width: 100%;
  }
  .thank-you {
    min-width: 250px;
    max-width: 80vw;
  }
  .thank-you p {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 0.8rem;
    line-height: 1.66em;
  }
  .bottom-left p {
    max-width: 50%;
    text-align: left;
    margin: 20px 0;
  }
}
